    .tela{
        background-image: url(../Imagens/Fundopadre.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
        height: 100vh;
        width: 100vw;

    }

    .todosFilme{
        background-color: #141414;
        background: -moz-linear-gradient(top, rgba(255,0,0,0) 0%, #141414 50%);
        background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%,#141414 25%);
        height: 100%;

    }