.conteudo{
    display: flex;
    flex-direction: column;
    color: black;
    gap:15px;

}

.conta1{
    font-size: 40px;
    font-weight: 600;


}

.conta2{
    color: rgb(50, 50, 50);
    font-weight: 400;


}


.card1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border: #EAEAEA solid 2px;
    height: 270px;
    width: 780px;
    border-radius: 10px;

}

.alinhamento{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
    padding-right: 25px;


}

.degrade{
    background-color: blueviolet;
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 20px;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 500;
    width: 215px;
}

.plano{
    font-size: 20px;
    font-weight: 500;

}

.pagamento{
    color: rgb(105, 105, 105);


}

.mastercard{
    margin-top: -15px;
    margin-left: -11px;
    height: 50px;
    width: 50px;
}

.senha{
    display: flex;
    flex-direction: row;
    color: rgb(105, 105, 105);  
    
}

.linha{
    border: solid 1px #EAEAEA;
    margin-bottom: 20px;
}

#gerenciar{
    font-size: 18px;
    font-weight: 500;
}