.lateral{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 40px;
    width: 300px;
    
}

.secao:hover{
    background-color: rgb(223, 223, 223);

}

.secao{
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    gap: 12px;
    transition: background-color 70ms ease;
    text-decoration: none;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.icon{
    height: 30px;
    width: 30px;

}